.img_log{
    margin: 10px;
    height: 143px;
    width: 137px;
    left: 20px;
    top: 7px;
    border-radius: 0px;
    display: flex;
}

.post {
    display: flex;
    margin: 10px;
    color: #00A0DC;
    height: 63.89px;
}

.reestr {
    text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
                 #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
                 #cad5e2 5px 5px 0;
    font-size: 40px;
    padding: 10px;
}

.block{
    text-align: center;
    margin-left: 30%;
    padding: 10px;
}

.block_2{
    text-align: center;
    margin-left: 5%;
    padding: 10px;
}

.registr{
    width: 180px;
    border: 2px solid #00A0DC;
    border-radius: 10px/10px;  
    font-size: 24px;
}

.auth{
    color: white;
    width: 100px;
    background: #00A0DC;
    border: 2px solid #00A0DC;
    border-radius: 10px/10px;
    font-size: 24px;
}

.main_tite {
    background: #00A0DC;
    padding: 13px;
    color: #fff;
    display: flex;
    height: 65px;    
}

.p{
    margin-right: 10%;
    margin-left: 15%;
    font-size: 20px;
}

.search_block {
    background: #EBEBEB;
   
    height: 190px;
    padding: 10px;
}

.equipment_text {
    color: red;
    margin-left: 15%;
    font-size: 32px;
    padding: 10px;
}

.input {
    height: 40px;
    width: 1024px;
    border-radius: 5px;
    border-color: #B8B8B8;
    margin-left: 15%;
}

.button_input {
    background-color: #00A0DC;
    color: #fff;
    height: 40px;
    width: 100px;
    font-size: 20px;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .content-wrap {
    flex: 1;
  }

.equipment_card {
    margin: 10px;
    width: 1009px;
    height: 398px;
    left: 32px;
    top: 511.14px;
    background: #EBEBEB;
    border: 2px solid #B8B8B8;
    border-radius: 5px;

}

.equipment_img {

    width: 562px;
    height: 396.13px;
    left: 32px;
    top: 520px;
    border-radius: 5px;

        
}

.equipment_name {
    position: absolute;
    width: 350px;
    left: 642px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 38px;
    color: #000000;
    margin-top: 5px;
    
}

.equipment_button{
   
position: absolute;
width: 131.73px;
height: 47.54px;
margin-top: 40px;
left: 100px;

background: #00A0DC;
border: 1px solid #B8B8B8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}


.filter_search {
    top: 500px;
    width: 300px;
    height: 300px;
    margin-left: 75%;
    position:absolute;
    padding: 10px;
    display: inline;
    background: #ffffff;
}

