.main-footer {
    color: white;
    background-color: #00A0DC;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    
  }

  .s1 {
    color: white;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
 }

  .s2 {
    color: white;
    text-shadow: 1px 1px black;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
 }
 .s2:hover {
    color: #F8B600;
 }

 .socialgroup {
   background: #00A0DC;
   padding: 10px 0;
   text-align: center;
 }
 .a {
   color: #ffffff;
   font-size: 20px;
   padding: 10px;
   
   transition: all .5s ease;
 }
 .a:first-child {
   border-left: 1px solid #70726F;
 }
 .a:hover {
   color: #F8B600;
 }